

<h1>Who'$ bankrolling the 2016ers?</h1>

<p>Find the top contributors behind the men and women who want to live in the White House</p>


<p>Using state and federal data from the National Institute for Money in State Politics, find out the top five contributors to the following presidential hopefuls. <em>Note:</em>Our list includes only those who have run for office in the past.</p>

<div style="float:left">
<h2>Republicans</h2>
 <ul>
 
	<li><%= link_to "Jeb Bush", 'candidates/888084' %></li>
	<li><%= link_to "Chris Christie", '/candidates/6680183' %></li>
	<li><%= link_to "Ted Cruz", '/candidates/210204' %></li>
    <li><%= link_to "Carly Fiorina", '/candidates/18930573' %></li>
	<li><%= link_to "Mike Huckabee", '/candidates/6578217'%></li>
	<li><%= link_to "Bobby Jindal", '/candidates/6613013' %></li>
	<li><%= link_to "John Kasich", '/candidates/6681079' %></li>
	<li><%= link_to "Rand Paul", '/candidates/19890282' %></li>
	<li><%= link_to "Rick Perry", '/candidates/11291411' %></li>
	<li><%= link_to "Marco Rubio", '/candidates/61789' %></li>
	<li><%= link_to "Rick Santorum", '/candidates/13607967' %></li>
	<li><%= link_to "Scott Walker", '/candidates/4656950' %></li>
 </ul>
</div>

<div style="float:right">
	<h2>Democrats</h2>
 <ul>
	<li><%= link_to "Joe Biden", '/candidates/17659045' %></li>
	<li><%= link_to "Hillary Clinton", '/candidates/17659087' %></li>
	<li><%= link_to "Martin O'Malley", '/candidates/ '%></li>
	<li><%= link_to "Bernie Sanders", '/candidates' %></li>
	<li><%= link_to "Elizabeth Warren", '/candidates'%></li>
	<li><%= link_to "Jim Webb", '/candidates' %></li>
</ul>
</div>

